{% load widget_tweaks %}
{% load order_tags %}

<div class="orders-modal-section">
    <div class="orders-modal-section__header">
        <div class="orders-modal-section__eyebrow">Сценарий</div>
        <h4 class="orders-modal-section__title">Выберите подкатегорию</h4>
    </div>
    {% block order_field_category %}
        {% include 'orders/include/fields/category.html' %}
    {% endblock order_field_category %}
</div>

<div class="orders-modal-section">
    <div class="orders-modal-section__header">
        <div class="orders-modal-section__eyebrow">Контакты</div>
        <h4 class="orders-modal-section__title">Кто создаёт заявку</h4>
    </div>
    {% include 'orders/include/form_create_user_info.html' %}
</div>

{% block order_extra_fields %}

{% endblock order_extra_fields %}

<div class="orders-modal-section">
    <div class="orders-modal-section__header">
        <div class="orders-modal-section__eyebrow">Комментарий</div>
        <h4 class="orders-modal-section__title">Дополнительные детали</h4>
    </div>
    {% block order_field_description %}
        {% include 'orders/include/fields/description.html' %}
    {% endblock order_field_description %}
</div>
