{% extends 'orders/base.html' %}
{% block content %}
    <div>
        <h3>
            Телеграм бот
        </h3>
        Наш бот предназначен для получения актуальной информации о ходе выполнения ваших заявок,
        оставленных в электронной системе заявок.
        <div>
            Преимущества использования нашего телеграм-бота:
            <ul>
                <li>
                    Мгновенные уведомления: Вы будете получать мгновенные уведомления о каждом шаге в обработке вашей
                    заявки, включая изменение статусов, комментарии и другие важные обновления.
                </li>
                <li>
                    Удобство и доступность: Бот доступен в любое время и в любом месте через ваш аккаунт в Telegram.
                    Вы сможете легко отслеживать свои заявки, не зависимо от того, где вы находитесь.
                </li>
                <li>
                    Простота использования: Интерфейс бота разработан с учетом удобства использования. Вам не нужно
                    особых навыков или инструкций для начала получения уведомлений. Просто подключитесь к боту и
                    получайте информацию в удобном формате.
                </li>
            </ul>
        </div>
        <div>
            Чтобы подключить себе бота, пожалуйста, воспользуйтесь следующими способами:
            <ul>
                <li>
                    Сканируйте QR-код ниже с помощью приложения для сканирования QR-кодов на вашем мобильном устройстве.
                    Бот автоматически добавится в ваш список контактов в Telegram.
                    (необходимо установленное приложение Telegram на мобильном устройстве)
                </li>
                <li>
                    Если у вас установлен Telegram на компьютере, просто нажмите на QR-код ниже, и вы будете перенаправлены на страницу бота.
                </li>
            </ul>
        </div>
        Если у вас возникнут вопросы или потребуется помощь, наша команда всегда готова вам помочь.
        Свяжитесь с нами, и мы ответим на все ваши вопросы.
        <div>
            С уважением,
            служба технической поддержки
            🏢 ул. Примерная, 10, каб. 101, тел. +7 (000) 000-00-00
        </div>
    </div>

    {% if request.user.telegram_qrcode %}
        <div class="qrcode-telegram my-3 py-3">
            {% include 'orders/include/qrcode_image_for_telegram_bot.html' %}
        </div>
    {% endif %}

{% endblock content %}
