{% extends 'orders/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Оценка сервиса</h1>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label>{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
